.incorrect-mail {
    font-size: 14.5px;
    text-align: center;
    margin-top: 10px;
    color: rgb(0, 255, 185); 
    text-shadow: rgb(0, 0, 0) 0px 0 10px;
    display: none;
    padding: 10px; 
}

.back-login {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.back-login:hover {
    text-decoration: underline; /* Add underline on hover */
}